## Pandas - Importing data

Please download from Google Drive <a href="https://drive.google.com/file/d/1lN5Eh2wz_DDOlcI7as9gQcmUALNqs0_y/view?usp=share_link">this data</a>.

In [1]:
## import the pandas library in this cell
import pandas as pd

### Ingest the following dataset into this note:

- ```ems_2019_first_6_months.csv``` into a dataframe named ```ems_19_first_df```

In [2]:
## import data and store in dataframe
ems_19_first_df = pd.read_csv ("wk4-hw-data/ems_2019_first_6_months.csv")

In [3]:
## call the first 10 rows
ems_19_first_df.head(10)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,190010111,2019-01-01 00:24:51,SICK,6,SICK,6,01/01/2019 12:25:28 AM,Y,37,01/01/2019 12:25:56 AM,...,9.0,2.0,103.0,1.0,12.0,N,N,N,N,chunk10.csv
1,190010112,2019-01-01 00:25:22,DRUG,4,DRUG,4,01/01/2019 12:25:39 AM,Y,17,01/01/2019 12:26:03 AM,...,23.0,9.0,111.0,4.0,13.0,N,N,N,N,chunk10.csv
2,190010113,2019-01-01 00:25:52,DRUG,4,DRUG,4,01/01/2019 12:25:57 AM,Y,5,01/01/2019 12:26:11 AM,...,63.0,45.0,318.0,22.0,8.0,N,N,N,N,chunk13.csv
3,190010114,2019-01-01 00:25:52,OBMAJ,3,OBMAJ,3,01/01/2019 12:26:13 AM,Y,21,01/01/2019 12:26:24 AM,...,106.0,32.0,410.0,27.0,8.0,N,N,N,N,chunk14.csv
4,190010115,2019-01-01 00:26:03,EDP,7,EDP,7,01/01/2019 12:26:12 AM,Y,9,01/01/2019 12:26:29 AM,...,101.0,31.0,414.0,27.0,5.0,N,N,N,N,chunk14.csv
5,190073272,2019-01-07 17:49:43,EDP,7,EDP,7,01/07/2019 05:49:50 PM,Y,7,01/07/2019 05:50:04 PM,...,17.0,5.0,106.0,2.0,12.0,N,N,N,N,chunk149.csv
6,190073416,2019-01-07 18:27:54,EDP,7,EDP,7,01/07/2019 06:28:33 PM,Y,39,01/07/2019 06:28:44 PM,...,6.0,3.0,102.0,2.0,10.0,N,N,N,N,chunk149.csv
7,190081434,2019-01-08 10:28:31,UNKNOW,4,UNKNOW,4,01/08/2019 10:29:19 AM,Y,48,01/08/2019 10:29:36 AM,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,chunk149.csv
8,190081743,2019-01-08 11:43:35,UNKNOW,4,UNKNOW,4,01/08/2019 11:43:47 AM,Y,12,01/08/2019 11:43:55 AM,...,7.0,1.0,103.0,2.0,12.0,N,N,N,N,chunk149.csv
9,190081744,2019-01-08 11:43:48,EDP,7,EDP,7,01/08/2019 11:43:59 AM,Y,11,01/08/2019 11:44:30 AM,...,44.0,16.0,204.0,9.0,15.0,N,N,N,N,chunk149.csv

In [4]:
## call the last 5 rows
ems_19_first_df.tail(5)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
754651,190010106,2019-01-01 00:24:12,DRUG,4,DRUG,4,01/01/2019 12:28:52 AM,Y,280,01/01/2019 12:28:52 AM,...,14.0,3.0,105.0,2.0,12.0,N,N,N,N,chunk82.csv
754652,190010107,2019-01-01 00:24:14,UNC,2,UNC,2,01/01/2019 12:24:38 AM,Y,24,01/01/2019 12:24:57 AM,...,14.0,3.0,105.0,2.0,12.0,N,N,N,N,chunk82.csv
754653,190010108,2019-01-01 00:24:16,INJMAJ,3,INJMAJ,3,01/01/2019 12:25:50 AM,Y,94,01/01/2019 12:25:50 AM,...,18.0,4.0,105.0,2.0,12.0,N,N,N,N,chunk82.csv
754654,190010109,2019-01-01 00:24:23,CARD,3,CARD,3,01/01/2019 12:25:08 AM,Y,45,01/01/2019 12:25:27 AM,...,50.0,14.0,208.0,10.0,13.0,N,N,N,N,chunk82.csv
754655,190010110,2019-01-01 00:24:35,DRUG,4,DRUG,4,01/01/2019 12:25:28 AM,Y,53,01/01/2019 12:25:40 AM,...,62.0,47.0,311.0,20.0,10.0,N,N,N,N,chunk82.csv

In [5]:
## call a 20 random rows
ems_19_first_df.sample(20)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
260101,190681014,2019-03-09 07:11:53,RESPIR,4,RESPIR,4,03/09/2019 07:12:09 AM,Y,16,03/09/2019 07:13:08 AM,...,70.0,48.0,314.0,22.0,9.0,N,N,N,N,chunk152.csv
194809,190513062,2019-02-20 18:24:59,INJURY,5,INJURY,5,02/20/2019 06:25:03 PM,Y,4,02/20/2019 06:25:23 PM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk151.csv
341033,190874615,2019-03-28 23:46:50,DIFFBR,2,DIFFBR,2,03/28/2019 11:47:40 PM,Y,50,03/28/2019 11:47:48 PM,...,17.0,2.0,106.0,2.0,12.0,N,N,N,N,chunk153.csv
72490,190211775,2019-01-21 12:34:07,EDP,7,EDP,7,01/21/2019 12:34:37 PM,Y,30,01/21/2019 12:34:55 PM,...,83.0,34.0,304.0,32.0,7.0,N,N,N,N,chunk150.csv
97592,190273056,2019-01-27 18:22:54,UNKNOW,4,UNKNOW,4,01/27/2019 06:23:01 PM,Y,7,01/27/2019 06:23:21 PM,...,67.0,41.0,317.0,18.0,9.0,N,N,N,N,chunk150.csv
401205,191021850,2019-04-12 12:09:16,SICK,6,SICK,6,04/12/2019 12:09:26 PM,Y,10,04/12/2019 12:10:29 PM,...,24.0,7.0,107.0,3.0,13.0,N,N,N,N,chunk153.csv
611645,191521240,2019-06-01 07:40:38,GYNHEM,5,GYNHEM,5,06/01/2019 07:40:54 AM,Y,16,06/01/2019 07:41:12 AM,...,81.0,36.0,303.0,16.0,8.0,N,N,N,N,chunk155.csv
412385,191050306,2019-04-15 02:16:18,DRUG,4,DRUG,4,04/15/2019 02:17:02 AM,Y,44,04/15/2019 02:17:27 AM,...,110.0,25.0,404.0,24.0,6.0,N,N,N,N,chunk153.csv
186852,190492472,2019-02-18 16:06:00,UNKNOW,4,UNKNOW,4,02/18/2019 04:06:25 PM,Y,25,02/18/2019 04:06:39 PM,...,19.0,5.0,108.0,2.0,12.0,N,N,N,N,chunk151.csv
232793,190611952,2019-03-02 12:20:09,EDP,7,EDP,7,03/02/2019 12:20:18 PM,Y,9,03/02/2019 12:20:51 PM,...,26.0,7.0,109.0,5.0,13.0,N,N,N,N,chunk152.csv
229325,190602598,2019-03-01 15:38:18,EDP,7,DRUG,4,03/01/2019 03:41:35 PM,Y,197,03/01/2019 03:43:21 PM,...,5.0,1.0,101.0,2.0,7.0,N,N,N,N,chunk152.csv
519820,191310492,2019-05-11 02:28:21,STATEP,2,STATEP,2,05/11/2019 02:28:33 AM,Y,12,05/11/2019 02:28:48 AM,...,18.0,4.0,105.0,2.0,12.0,N,N,N,N,chunk155.csv
709601,191742702,2019-06-23 15:03:30,DRUG,4,DRUG,4,06/23/2019 03:05:15 PM,Y,105,06/23/2019 03:05:25 PM,...,102.0,28.0,409.0,27.0,5.0,N,N,N,N,chunk156.csv
207837,190550306,2019-02-24 01:47:29,UNKNOW,4,UNKNOW,4,02/24/2019 01:47:35 AM,Y,6,02/24/2019 01:47:50 AM,...,19.0,5.0,108.0,2.0,12.0,N,N,N,N,chunk151.csv
4116,190023927,2019-01-02 20:05:29,INJURY,5,INJURY,5,01/02/2019 08:05:35 PM,Y,6,01/02/2019 08:05:54 PM,...,115.0,25.0,403.0,30.0,14.0,N,N,N,N,chunk149.csv
749484,190032092,2019-01-03 13:04:42,SICK,6,SICK,6,01/03/2019 01:04:51 PM,Y,9,01/03/2019 01:05:16 PM,...,79.0,36.0,303.0,14.0,8.0,N,N,N,N,chunk52.csv
281466,190732339,2019-03-14 14:12:00,CARDBR,2,CARDBR,2,03/14/2019 02:13:04 PM,Y,64,03/14/2019 02:13:27 PM,...,107.0,24.0,408.0,25.0,6.0,N,N,N,N,chunk152.csv
522989,191314027,2019-05-11 20:36:17,DRUG,4,RESPIR,4,05/11/2019 08:36:37 PM,Y,20,05/11/2019 08:36:52 PM,...,46.0,16.0,205.0,9.0,13.0,N,N,N,N,chunk155.csv
339166,190872548,2019-03-28 14:49:13,DIFFBR,2,DIFFBR,2,03/28/2019 02:51:04 PM,Y,111,03/28/2019 02:52:25 PM,...,41.0,17.0,202.0,12.0,15.0,N,N,N,N,chunk153.csv
395038,191004388,2019-04-10 22:06:57,HYPTN,7,HYPTN,7,04/10/2019 10:07:41 PM,Y,44,04/10/2019 10:07:56 PM,...,69.0,46.0,318.0,18.0,8.0,N,N,N,N,chunk153.csv

In [6]:
## get basic overview of the data
## what datatypes do the different columns hold?
## how many rows and columns are there?
ems_19_first_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 754656 entries, 0 to 754655
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CAD_INCIDENT_ID                 754656 non-null  int64
 1   INCIDENT_DATETIME               754656 non-null  object
 2   INITIAL_CALL_TYPE               754656 non-null  object
 3   INITIAL_SEVERITY_LEVEL_CODE     754656 non-null  int64
 4   FINAL_CALL_TYPE                 754656 non-null  object
 5   FINAL_SEVERITY_LEVEL_CODE       754656 non-null  int64
 6   FIRST_ASSIGNMENT_DATETIME       749544 non-null  object
 7   VALID_DISPATCH_RSPNS_TIME_INDC  754656 non-null  object
 8   DISPATCH_RESPONSE_SECONDS_QY    754656 non-null  int64
 9   FIRST_ACTIVATION_DATETIME       748561 non-null  object
 10  FIRST_ON_SCENE_DATETIME         729221 non-null  object
 11  VALID_INCIDENT_RSPNS_TIME_INDC  754656 non-null  object
 12  INCIDENT_RESPONSE_SECONDS_QY    729068 non-null  float64
 13  INCIDENT_TRAVEL_TM_SECONDS_QY   729221 non-null  float64
 14  FIRST_TO_HOSP_DATETIME          522462 non-null  object
 15  FIRST_HOSP_ARRIVAL_DATETIME     518867 non-null  object
 16  INCIDENT_CLOSE_DATETIME         754540 non-null  object
 17  HELD_INDICATOR                  754656 non-null  object
 18  INCIDENT_DISPOSITION_CODE       748265 non-null  float64
 19  BOROUGH                         754656 non-null  object
 20  INCIDENT_DISPATCH_AREA          754656 non-null  object
 21  ZIPCODE                         745086 non-null  float64
 22  POLICEPRECINCT                  745102 non-null  float64
 23  CITYCOUNCILDISTRICT             745071 non-null  float64
 24  COMMUNITYDISTRICT               745101 non-null  float64
 25  COMMUNITYSCHOOLDISTRICT         744542 non-null  float64
 26  CONGRESSIONALDISTRICT           745071 non-null  float64
 27  REOPEN_INDICATOR                754656 non-null  object
 28  SPECIAL_EVENT_INDICATOR         754656 non-null  object
 29  STANDBY_INDICATOR               754656 non-null  object
 30  TRANSFER_INDICATOR              754656 non-null  object
 31  source                          754656 non-null  object
dtypes: float64(9), int64(4), object(19)
memory usage: 184.2+ MB

### In three separate cells, ingest the 3 other related datasets into this notebook:

- ```ems_2019_last_6_months.csv``` into a dataframe named ```ems_19_last_df```
- ```ems_2020_first_6_months.csv``` into a dataframe named ```ems_20_first_df```
- ```ems_2020_last_6_months.csv``` into a dataframe named ```ems_20_last_df```

We want to combine all 4 dataframes so we can run an analysis on the combined dataframes

In [7]:
### For last 6 months of 2019
## call the dataframe to see what you have
ems_19_last_df = pd.read_csv ("wk4-hw-data/ems_2019_last_6_months.csv")

In [8]:
### For first 6 months of 2020
## call the dataframe to see what you have
ems_20_first_df = pd.read_csv ("wk4-hw-data/ems_2020_first_6_months.csv")

In [9]:
### For last 6 months of 2020
## call the dataframe to see what you have
ems_20_last_df = pd.read_csv ("wk4-hw-data/ems_2020_last_6_months.csv")

## Combine the 4 dataframes

In [10]:
## create a list to combine all 
ems_list = [ems_19_first_df,ems_19_last_df,ems_20_first_df, ems_20_last_df]

In [11]:
## combine (concat) the dfs
ems_df = pd.concat (ems_list)

#### Programmatically (not with a calculator) confirm that their row totals add up to the correct number

In [12]:
## how many rows does the combined df have
ems_df.shape[0]

2948958

In [13]:
## get total rows when you add up all the individual dataframes
ems_19_first_df.shape[0] + ems_19_last_df.shape[0] + ems_20_first_df.shape[0] + ems_20_last_df.shape[0]

2948958

In [14]:
## Programmatically (not with a calculator) confirm that their row totals add up to the correct number
ems_19_first_df.shape[0] + ems_19_last_df.shape[0] + ems_20_first_df.shape[0] + ems_20_last_df.shape[0] == ems_df.shape[0]

True

## Ingest Massive Dataset

Step 1. Open ```global_temps.csv``` in Excel first. What happened?

Step 2. Open this data set in Pandas.

In [15]:
## import global_temps.csv into a df called temps_df
temps_df = pd.read_csv("wk4-hw-data/global_temps.csv")

## How many rows of data does this dataset have?

In [16]:
## How many rows?
temps_df.shape[0]

2906327

## Targeting an Excel sheet

We need the Customs and Border Protection data in this ```multi-data.xlsx``` workbook.

Note that this is an excerpt of the actual CBP data.

In [17]:
### import it here
CBP_df = pd.read_excel("wk4-hw-data/multi-data.xlsx",sheet_name = "CBP")

In [18]:
## call the top 15 rows
CBP_df.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,date_in,date_out,hours_in_custody,age_group,gender,citizenship,border,sector,field_office
6,2017-01-20 00:10:00,2017-01-20 10:08:00,9.95,6-8 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN
7,2017-01-20 00:15:00,2017-01-24 17:30:00,113.233333,3-5 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
8,2017-01-20 00:22:00,2017-01-24 17:47:00,113.416667,3-5 years,Female,BRAZIL,SBO,(b)(7)(E ),NaN
9,2017-01-20 00:30:00,2017-01-21 06:35:00,30.083333,12-14 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
10,2017-01-20 00:30:00,2017-01-21 13:03:00,36.533333,3-5 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
11,2017-01-20 00:30:00,2017-01-21 15:30:00,38.983333,Under 1 year,Male,HONDURAS,SBO,(b)(7)(E ),NaN
12,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
13,2017-01-20 00:35:00,2017-01-20 15:14:00,14.633333,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
14,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,3-5 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN

In [19]:
## skip 6 rows
CBP_df = pd.read_excel("wk4-hw-data/multi-data.xlsx",sheet_name = "CBP", skiprows = 6)

In [20]:
## call the top 15 rows
CBP_df.head(15)

,date_in,date_out,hours_in_custody,age_group,gender,citizenship,border,sector,field_office
0,2017-01-20 00:10:00,2017-01-20 10:08:00,9.950000,6-8 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN
1,2017-01-20 00:15:00,2017-01-24 17:30:00,113.233333,3-5 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
2,2017-01-20 00:22:00,2017-01-24 17:47:00,113.416667,3-5 years,Female,BRAZIL,SBO,(b)(7)(E ),NaN
3,2017-01-20 00:30:00,2017-01-21 06:35:00,30.083333,12-14 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
4,2017-01-20 00:30:00,2017-01-21 13:03:00,36.533333,3-5 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
5,2017-01-20 00:30:00,2017-01-21 15:30:00,38.983333,Under 1 year,Male,HONDURAS,SBO,(b)(7)(E ),NaN
6,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
7,2017-01-20 00:35:00,2017-01-20 15:14:00,14.633333,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
8,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,3-5 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
9,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,9-11 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
10,2017-01-20 00:45:00,2017-01-20 13:15:00,12.500000,15-18 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
11,2017-01-20 01:19:00,2017-01-21 02:30:00,25.166667,15-18 years,Male,INDIA,SBO,(b)(7)(E ),NaN
12,2017-01-20 01:19:00,2017-01-21 02:30:00,25.166667,15-18 years,Male,INDIA,SBO,(b)(7)(E ),NaN
13,2017-01-20 01:20:00,2017-01-24 17:30:00,112.166667,6-8 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
14,2017-01-20 01:20:00,2017-01-20 13:40:00,12.333333,9-11 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN